html {
    font-size: clamp(1rem, 1vw, 2rem);;
}
body {
    font-family: Arial, sans-serif;
    background-color: #181a1b;
    color: #e8e6e3;
    text-align: center;
    overflow-wrap: break-word;
}
h1 {
    margin: min(24px,4%);
    font-size: 2rem;
}
p {
    margin: min(12px,4%);
    font-size: 1rem
}



#input-wrapper {
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    width: clamp(max(18rem, 12vh), 60vw, 1920px);
    height: auto;
}
input {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    padding: min(3vh, 32px) min(6vh, 64px);
    border-radius: 256px;
    border: none;
    color: #e8e6e3;
    background-color: #232627;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
input:focus {
    outline: 1px solid #3584e4;
}



button {
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}
#theme {
    position: static;
    height: 2rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
}
#submit {
    top: 0;
    right: 0;
    height: 100%;
    padding: 6px;
}
img, svg {
    width: 100%;
    height: 100%;
    display: block
}