body {
    font-family: Arial, sans-serif;
    background-color: #181a1b;
    color: #e8e6e3;
    text-align: center;
}
h1 {
    margin: min(24px,4%);
    font-size: min(2em, 16vh);
}
p {
    margin: min(12px,4%);
    font-size: min(1em, 8vh);
}



#input-wrapper {
    position: relative;
    display: flex;
    margin: auto;
    margin-top: min(24px,4%);
    width: max(50%,220px);
}
input {
    text-align: center;
    width: 100%;
    padding: 24px 48px 24px 16px;
    border-radius: 32px;
    box-sizing: border-box;
    outline:none;
    border: none;
    color: #e8e6e3;
    background-color: #232627;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
input:focus {
    outline: 1px solid #3584e4;
}



button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}
#theme {
    height: min(2em, 16vh);
    position: static;
    padding-right: 16px;
    padding-top: 2px;
}
#submit {
    top: 0;
    right: 0;
    height: 100%;
    padding: 1%;
}
img {
    max-height: 100%;
    max-width: 100%;
}